body{
font-family: "Roboto", sans-serif;
background-color: #dabfff;
margin:0;
color:black
}
    h1, h2{
        text-align: center;
    }
header{
    background-color: #3d0066;
    color:#dabfff;
}
header>img{
    max-width: 6rem;
    margin:1rem;
}
header>h1{
    display: inline-block;
    margin:1rem 0;
    vertical-align:top
}
header>nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
nav>a:hover{
    background-color:rgb(200,200,205);
    }
.about-me{
    background-color: #ff90b3;
    width:300px;
    padding:20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.aboutme{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.experience{
    background-color: #ff9e00;
    width:300px;
    padding:20px;
    border-radius: 6px;
}
.me>img{
    width:350px;
    border-radius: 8px;
}
.photography{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.photography img{
    flex:1;
    display: flex;
    flex-direction: row;
}
img{
    max-width: 100%;
}
.TV10 img{
    max-height: 20rem;
}
.TV10{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    background-color: #3d0066;
    color:#dabfff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
} 
.graphicdesign{
    display:flex;
    flex-direction: column;
    align-items: center;
}
header nav a{
    color: #3d0066;
    background-color: #fff9c5;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}
@media (min-width:1100px){
    .aboutme{
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
    .introduction{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .photography{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .TV10{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .graphicdesign{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}