body{
font-family: "Roboto", sans-serif;
background-color: #dabfff;
margin:0;
color:black
}
header{
    background-color: #3d0066;
    color:#dabfff;
}
header>img{
    max-width: 6rem;
    margin:1rem;
}
header>h1{
    display: inline-block;
    margin:1rem 0;
    vertical-align:top
}
header>nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
nav>a:hover{
    background-color:rgb(200,200,205);
    }
.about-me{
    background-color: #ff90b3;
    width:300px;
    padding:20px;
    border-radius: 6px;
}
.experience{
    background-color: #ff9e00;
    width:300px;
    padding:20px;
    border-radius: 6px;
}
.me>img{
    width:350px;
    border-radius: 8px;
}
.photography{
    display:flex;
    flex-direction: column;
    max-height:32rem;
    align-items: center;

}
.photography img{
    flex:1;
    max-height:7rem
}
img{
    max-width: 100%;
}
.TV10 img{
    max-height: 20rem;
}
.TV10{
    display: flex;
    flex-direction: column;
    align-items: center;
}